* {
    box-sizing: border-box;
}
body {
    width: 1152px;
    margin: 0 auto;
}
.bank{
    width: 1152px;
    height: 50px;
    background: #F5F5F6;
    display: flex;
    align-items: center;
}
.banka{
    margin-left: 100px;
    margin-right: 64px;
}
.xana{
    list-style-type: none;
    display: flex;
}

.xana li{
    margin:0 20px;
    font-size:12px;
    text-transform: uppercase;
    font-family: sans-serif;
}
.duyme{
    margin-left: 109px;
    font-size:12px;
    text-transform: uppercase;
    font-family: sans-serif;
    background-color:#ffffff;
    width:58px;
    height:33px;
    border-radius: 4px;
}
.header{
   margin-top:56px;
   margin-left: 253px;
}
.headername{
    font-size:36px ;
    font-family:sans-serif;
    color:black;
}
.headerboxleft{
    margin-top: 33px;
}
.headerboxleft p{
    font-family: sans-serif;
    font-size:12px ;
    color: #9F9F9F;
}
.pulvahidi{
margin-top:2px;
display: flex;
flex-wrap: nowrap;
}
.realy{
width: 65.06px;
height: 30px;
background: #833AE0;
border:1px sold grey;
border-radius: 3px 0px 0px 3px;
 text-align: center;
 color:white;
 font-size:12px;
 font-family: sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
}
.fake1{width: 65.06px;
    height: 30px;
    background-color:white;
     text-align: center;
     color:#c6c6c6;
     font-size:12px;
     font-family: sans-serif;
    border:1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fake2{width: 65.06px;
    height: 30px;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
     text-align: center;
     color:#c6c6c6;
     font-size:12px;
     font-family: sans-serif;
    border:1px solid grey;
  }
  .fake3{width: 65.06px;
    height: 30px;
    background-color:white;
     text-align: center;
     color:#c6c6c6;
     font-size:12px;
     font-family: sans-serif;
    border:1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fake4{width: 65.06px;
    height: 30px;
    background-color:white;
     text-align: center;
     color:#c6c6c6;
     font-size:12px;
     font-family: sans-serif;
    border:1px solid grey;
    border-radius: 0px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boxs{
    width: 259px;
    height: 102px;
    border-radius: 3px;
    border:1px solid grey;
    margin-top:20px}
    .addvalue{
        height: 38px;
        margin-left: 14px;
        margin-top: 11px;
    }
    .addvalue input{width: 100% ;
        border:none;
        font-family: sans-serif;
        font-size:36px;
        color:black;
        font-weight: 700;
    }
    .hesablama{
        height: 28px;
        color:#c6c6c6 ;
    }
    .hesablama p{
        font-size: 12px;
        font-family: sans-serif;
        margin-top: 20px;
        margin-left: 16px;
        margin-bottom: 5px;
    }
.ikilikhisse{
    display: flex;
}
.birincihisse{
    margin-right:123px;
}





